@page "/entries/{CurrentVaultId:int}"
@using TheBlazorVault.Components.Pages.Modules
@inject CallServices CallServices
@inject IDialogService DialogService 
@rendermode InteractiveServer

<MudButton Class="mt-4" Color="Color.Success" Variant="Variant.Filled" OnClick="@(() => OpenDialog("Create", _currentEntrie))"> 
    Ajouter une entrée
</MudButton>

<div>
    <table id="coffreData" class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Nom d'utilisateur</th>
            <th>Mot de passe</th>
            <th>Commentaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div>
    @if (isEdit)
    {
        <EntrieDialog EntrieUpdate="_currentEntrie" CloseCallback="Close" UpdateCallback="UpdateCurrentEntrieToApi" CreateCallback="CreateNewEntrieToApi" IsCreateOrIsEdit=@typemodal></EntrieDialog>
    }
</div>