@page "/"
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<MudText Typo="Typo.h4" Color="Color.Primary">
  Bienvenue sur la page d'accueil !
</MudText>

<!-- Bouton pour accéder aux Vaults -->
<MudButton Color="Color.Primary" OnClick=Navigue>
  Accéder aux Vaults
</MudButton>

<button onclick="@(()=>NavigationManager.NavigateTo("MicrosoftIdentity/Account/SignOut?postLogoutRedirectUri=/"))" ></button>

<!-- NOUVEAU : bouton de déconnexion -->
<MudButton Color="Color.Secondary" OnClick="Logout">
  Se déconnecter
</MudButton>

