
<div>
    <h3>AddVaultForm</h3>
    <p style="color: green;">[AddVaultForm rendu]</p>
    <label for="vaultName">Nom du vault</label>
    <input type="text" id="vaultName" class="form-control" @bind="Name" />

    @* <label for="salt">Salé</label> *@
    @* <input type="text" id="salt" class="form-control" @bind="Salt" /> *@

    <label for="keyHash">Mot de passe </label>
    <input type="text" id="coffrePassword" class="form-control" />

    <button @onclick="CreateMethodCallback">Crée !</button>
</div>