<h3>AddVaultForm</h3>


    <label for="vaultName">Nom du vault</label>
    <input type="text" id="vaultName" class="form-control" @bind="_newvault.VaultName" />

    <label for="salt">Salt</label>
    <input type="text" id="salt" class="form-control" @bind="_newvault.Salt" />

    <label for="keyHash">Hash de la clé</label>
    <input type="text" id="keyHash" class="form-control" @bind="_newvault.KeyHash" />


<button @onclick="createmethodcallback">sdfffffffffffffffffffffffffffffffffffffffffff</button>