<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-header">
            <h3 class="dialog-title">Password</h3>
            <button class="dialog-close" @onclick="Close">&times;</button>
        </div>

        <div class="dialog-content">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="text" id="password" class="form-control" />
            </div>
        </div>

        <div class="dialog-footer">
            <button class="btn btn-secondary" @onclick="Close">Annuler</button>
            <button class="btn btn-primary" @onclick="Enter">Toc Toc</button>
        </div>
    </div>
</div>